*{
    margin: 0;
    padding: 0;
}

body, ul {
    margin: 0;
}
ul {
    list-style-type: none;
    height: 8vh;
    width: 40%;
    margin: auto;
    display:flex;
    flex-direction: row;

}
li{
    margin-left: 6%;
    padding: 15px;
}


li a {

    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #16a085;
    text-decoration: none;
    margin: 10px 10px 5px 10px;
}
img{
    width: 100%;
}
.img{

    background: url("../images/background.png") center/cover no-repeat;

}
